################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/Cognition/.vs/Cognition/v17
/Cognition/Cognition/obj
/Cognition/.vs/Cognition
